*{
    padding: 0;
    margin: 0;
    outline: 0;
}
html{
    /* background: #f8ffe5; */
}
.content{
    width: 550px;
    height: 700px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #555;
    overflow: hidden;
    background: #f8ffe5;
}
.conatiner{
    position: relative;
}
.innter{
    width: 100%;
    height: 700px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 200px;
}
.innter p{
    font-size: 42px;
    font-weight: 700;
    font-family: Arial;
    color: #555;
    text-align: center;
    margin-bottom: 50px;
}
.botton{
    width: 160px;
    height: 45px;
    display: block;
    cursor: pointer;
    margin: 25px auto;
    background:#1b9aaa;
    color: white;
    font-size: 17px;
    border-radius: 8px;
    border: none;
}
.botton:hover{
    transition: 1s;
    background: #14727e;
}
.introdback{
    text-align: left;
    padding-top: 160px;
}
.introdback span{
    display: block;
    font-size: 18px;
    text-indent: 35px;
    padding: 30px;
    margin-top: 20px;
}
.game_inter{
    width: 549px;
    height: 699px;
    background: #f8ffe5;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    padding-top: 20px;
    transform: scale(0);
    transition: all 0.7s;
}
#restart{
    width: 120px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    left: 210px;
}
.box{
    width: 450px;
    height: 450px;
    background: #9a9a95;
    margin:80px auto;
    position: relative;
}
.ex{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    background: #f8ffe5;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 43px;
    color: white;
}
.n2{
    background-color:#42a0ec;
}
.n4{
    background-color:#1b9aaa;
}
.n8{
    background-color:#f2b179;
}
.n16{
    background-color:#f59563;
}
.n32{
    background-color:#f67c5f;
}
.n64{
    background-color:#f65e3b;
}
.n128{
    background-color:#edcf72;
}
.n256{
    background-color:#edcc61;
}
.n512{
    background-color:#9c0;
}
.n1024{
    font-size:40px;
    background-color:#33b5e5;
}
.n2048{
    font-size:40px;
    background-color:#09c;
}
.imgs{
    width: 26px;
    height:23px; 
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}
.namep{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-family: Arial;
    color: #666;
}
.player{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #555;
    font-weight: 600;
}
.timer{
    width: 120px;
    height: 40px;
    border-radius: 15px;
    background: #999;
    position: absolute;
    left: 70px;
    text-align: center;
    line-height: 40px;
    color: white;
}
.number{
    left: 330px;
}
.gameover{
    width: 240px;
    height: 200px;
    background: #bbada0;
    border: 1px solid white;
    position: absolute;
    top: -300px;
    left: 155px;
    transition: all 0.8s;
    border-radius: 25px;
    text-align: center;
    display: block;
    color: white;
}
.gamewin{
    height: 260px;
    /* top: 200px; */
}
.users{
    display: block;
    margin-top: 10px;
}
.gameover p{
    font-size: 30px;
}
.gametim{
    display: block;
    line-height: 50px;
}
.bottons{
    width: 100px;
    height: 30px;
    display: block;
    margin: 30px auto;
    cursor: pointer;
    border-radius: 8px;
    background: #1b9aaa;
    color: white;
    border: none;
}